div(class='isso-comment #{bool(comment.parent) ? "entry" : "reply"}' id='isso-#{comment.id}')
    div(class='text-wrapper')
        div(class='isso-comment-header' role='meta')
            if bool(comment.parent)
                span(class='author')
                    = bool(comment.author) ? comment.author : i18n('comment-anonymous')
                span(class="spacer") &bull;
                a(class='permalink' href='#{thread_uri}/#isso-#{comment.id}')
                    time(class='relative' title='#{humanize(comment.created)}' datetime='#{datetime(comment.created)}')
            else
                span()
                    = "Entry "
                a(class='permalink' href='#{thread_uri}/#isso-#{comment.id}')
                    time(title='#{humanize(comment.created)}' datetime='#{datetime(comment.created)}')
                        = human_abs(comment.created)
                if bool(comment.place)
                    span()
                        = ". Place: "
                    span(class='place')
                        = comment.place
                span()
                    = ". By "
                span(class='author')
                    = bool(comment.author) ? comment.author : i18n('comment-anonymous')
            span(class='note')
                = comment.mode == 2 ? i18n('comment-queued') : comment.mode == 4 ? i18n('comment-deleted') : ''

        div(class='text')
            if comment.mode == 4
                p &nbsp;
            else
                != comment.text

        div(class='isso-comment-footer')
            if conf.vote
                a(class='upvote' href='#')
                    != svg['arrow-up']
                span(class='spacer') |
                a(class='downvote' href='#')
                    != svg['arrow-down']
            if !conf.readonly
                a(class='reply' href='#') #{i18n('comment-reply')}
                a(class='edit' href='#') #{i18n('comment-edit')}
                a(class='delete' href='#') #{i18n('comment-delete')}

        div(class='isso-follow-up')
